In [1]:
import pandas as pd

In [2]:
dax_file = "DAX.csv"
dax = pd.read_csv(dax_file, sep=';', header=0)

In [3]:
dax

    13246,45
0   13236,42
1   13287,07
2   12964,68
3   12989,29
4   13140,57
..       ...
64  11541,87
65  10625,02
66  10475,49
67  10438,68
68   9161,13

[69 rows x 1 columns]